@import 'mixin';
.header {

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.07;
    max-width: 467px;
  }
}

// header  aside
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, .25);
  height: 100vh;
  text-align: center;
  color: #fff;
}

// navigation 
.menu {
  padding-top: 18px;

  &__list {
   &-item {
     a {
       color: #fff;

       span {
         display: block;
         font-weight: 500;
         font-size: 12px;
         letter-spacing: 3px;
         color: #fff;
         padding-top: 6px;
         margin-bottom: 20px;
       }
     }
   }
  }
}


//header  search
.header__search {
  padding-top: 5px;
  padding-bottom: 15px;
}


//header  date
.header__date {
  h2 {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    // text-transform: uppercase;
  }

  span {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.4px;
  }
} 

// header  location
.header__location {
  padding-top: 15px;

  p {
    position: relative;
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    padding-left: 19px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 11px;
      height: 13px;
      background-image: url(../img/location.svg);
    }
  }
}


// header  map
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}



// slider buttons arrows
.slider__arrows {
  position: absolute;
  z-index: 4;
  top: 40px;
  right: 80px;
  cursor: pointer;

  &.slider__arrows-left {
    right: 125px;
  }
} 


//  slider
.header__slider {

  &-item {
    position: relative;
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-info {
    position: absolute;
    right: 80px;
    bottom: 116px; 
    text-align: right;
    color: #fff;
    text-transform: uppercase;

    &-title {
      font-weight: 800;
      font-size: 80px;
      line-height: 86px;
      margin-top: 5px;
      margin-bottom: 48px;
    }

    &-text {
      margin-top: 8px;
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
  }

  .subtitle-left {
    @include lineLeft;
  }
}


//  dots
.dots {
  position: absolute;
  right: 50px;
  bottom: 35px;
  max-width: 920px;
  width: 100%;
  color: #fff;
  z-index: 5;

  .slick-current {
    .dots__container-item {
      border-top-color: #4AF6CD;
    }
  }

  &__container {

    &-item {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 28px;
      border-top: 4px solid #fff;
      padding-top: 6px;

      &-number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
      }

      &-name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}


// arrow down
.header__arrow-down {
  position: absolute;
  bottom: 40px;
  left: 209px;
}