@font-face {
  font-family: "FiraSansRegular";
  src : url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src : url("../fonts/FiraSansRegular/FiraSansRegular.ttf");
  src : url("../fonts/FiraSansRegular/FiraSansRegular.woff");
}