@import "vars.scss";
@import "fonts.scss";
@import "mixin";

@import "./layouts/header";
@import "./layouts/surf";
@import "./layouts/travel";
@import "./layouts/sleep";
@import "./layouts/shop";
@import "./layouts/footer";

// base styles
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  @include regular;
  font-size: 22px;
	overflow-x: hidden;
	background-color: #171919;
	color: #fff;
	text-transform: uppercase;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	display: inline-block; 	
	color: #fff;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}


///////////   global  styles  /////////////

// menu  burger
.menu__burger {
	width: 35px;
	position: absolute;
	right: 20px;
	top: 30px;
	z-index: 20;
	display: none;

	&-line {
		margin-bottom: 5px;
		height: 3px;
		background-color: #4AF6CD	; 
	}
}

// left line in all section
.headline-left {
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.5;
	padding-left: 103px;
	position: relative;
	display: inline-block;

	&::before {
		content: '';
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: #fff;
		left: 0;
		top: 50%;
	}
}

// title in all section
.all__title-section {
	span {
		position: relative;
		font-weight: 800;
		font-size: 200px;
		color: rgba(#fff, .02);
		display: inline-block;
		transform: translateX(-50px);

		h3 {
			position: absolute;
			top: 0;
			right: 0;
			font-weight: 800;
			font-size: 80px;
			color: #fff;

			&:before {
				content: '';
				width: 80px;
				height: 1px;
				position: absolute;
				top: 0;
				right: 0;
				background: #4AF6CD;
			}
		}
	}
}

// btn in all section
.btn {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;

	span {
		padding: 17px 57px 17px 17px;
		display: inline-block;
		font-weight: 800;
		font-size: 40px;
		line-height: 36px;
		background: #4AF6CD;
		position: relative;
		margin-left: 19px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -10px;
			width: 20px;
			height: 1px;
			background: #fff;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 17px;
			transform: translateY(-50%);
			background-image: url(../img/arrow-right.svg);
			background-size: contain;
			background-repeat: no-repeat;
			width: 24px;
			height: 21px;
		}
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
	width: 36px;
	height: 33px;
	float: left;
	display: block;
	border: none;
	background: transparent;
	color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
	font-size: 70px;
	font-weight: 100;
  line-height: 1.7;
  transform: translateX(-100%);
	user-select: none;
	color: #4AF6CD;
}

.quantity-button.quantity-up {
  position: absolute;
	top: 10px;
  right: 25px;
}

.quantity-button.quantity-down {
	position: absolute;
	top: 9px;
	left: 155px;
}

.active {
	transform: translateX(0);
}

@import "./media.scss";