@import "vars.scss";
@import "fonts.scss";
@import "mixin";

@import "./layouts/header";

// base styles
h1, h2, p {
	margin: 0;
	padding: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	display: inline-block; 	
}

body {
  @include regular;
  font-size: 22px;
	box-sizing: border-box;
	overflow-x: hidden;
}

@import "./media.scss";